{% extends 'base.html.twig' %}

{% block body %}
    <div class="login-container">
        <div class="login-content">
            <div class="w-100 text-center p-3">
                <h1>Formulaire de contact</h1>
            </div>

            {{ form(form) }}
        </div>
    </div>
{% endblock %}
